<header>
<div class="header">
  <a href="#default" class="logo"></a>
  <div class="header-right">
    <a class="active" href="/main_page">Home</a>
    <a href="/goods">Equipment</a>
    <a href="/add" >Add</a>
    <a href="/logout">Sign out</a>
  </div>
</div>
</header>
