<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Equipment store</title>
    <link href="css/user_css.css" type="text/css" rel="stylesheet">

</head>

<body>

<%- include(header) %>


  <div class="container">
    <img src="/css/1.jpg" alt="Snow" style="width:100%;">
    <div class="centered"><h1>Welcome to the homepage of our site to help you choose the best sports equipment.</h1>

      <h2>Created as a web application development project for a three-tier architecture.<br> Created by Victoria Zubyk </h2>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>

</body>
</html>
